* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 1000px;
    background-color: #efefef;
}

.box {
    width: 300px;
    height: 300px;
    background-color: red;
    position: relative;
    top: 100px;
    left: 100px;
}

.inner {
    width: 70%;
    height: 70%;
    background-color: green;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: rotate(45deg);
}

.circle {
    width: 60%;
    height: 60%;
    background-color: red;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 50%;
}

.wrapper2 {
    width: 100%;
    min-height: 1000px;
    background-color: #d6d3d3;
}

.box2 {
    width: 80%;
    height: 200px;
    background-color: green;
    position: relative;
    left: 10%;
    top: 50px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
}

.left-icon {
    top: 75px;
    left: -20px;
}

.right-icon {
    top: 75px;
    right: -20px;
}